<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<body>

  <!--Script Files-->
  <script src = /Scripts/app.js></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>

  
    <div id="wrapper">

<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>

  <hr class="my-4">
  <p class="lead">
  </p>
</div>
      <article>
        <section>




          <h1>Bernard Yeboah, Student at Ontario Tech University</h1>
          <p>Hello, my name is Bernard. Welcome to my personal website. Feel free to scroll around!</p>
          <a><img src="Assets/images/IMG-3106.JPG" alt="Image for homepage"></a>
          <h5>Information Technology Security student at Ontario Tech University with experience
             in customer service and community outreach. 
             Proficient in Python programming and networking, I bring technical expertise along with a strong academic record 
             and a passion for volunteering and fitness, making me a well-rounded candidate for IT security positions.
          </h5>
        </section>
      </article>
    </div>
    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>
    
    
    </nav>
  
</body>
</html>

