<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1>


            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Course Title</label>
                    <input type="text" class="form-control"
                     id="nameTextField" 
                     placeholder="Enter the Course Name" 
                     name="name" required>
                </div>

                <div class="form-group">
                        <label for="profTextField">Professor</label>
                        <input type="text" class="form-control"
                        id="profTextField"
                        placeholder="Enter the Professors's name"
                        name="prof" required>
                    </div>

                <div class="form-group">
                <label for="startTextField">Start Date?</label>
                <input type="text" class="form-control"
                id="startTextField"
                placeholder="Enter the start date"
                name="start" required>
            </div>

            <div class="form-group">
                    <label for="endTextArea">End Date?</label>
                    <input type="text" class="form-control"
                    id="endTextArea"
                    placeholder="Enter the end date"
                    name="end" required>
                </div>

            <div class="form-group">
                    <label for="gradeTextField">Grade</label>
                    <input type="text" class="form-control"
                    id="gradeTextField"
                    placeholder="Enter your grade"
                    name="grade" required>
                </div>

                      <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/courselist" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>                   
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>