<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-10">
            <h1><%= title %></h1>
            <a href="/courselist/add" class="btn btn-primary" 
            role="button"><i class="fas fa-plus-circle"></i> Add a course</a>
        <br>
         <table class="table table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-2">Course Name</th>
                <th class="text-center col-2">Professor</th>
                <th class="text-center col-1">Start Date</th>
                <th class="text-center col-4">End</th>
                <th class="text-center col-1">Grade</th>
            </tr>
            <% for(let count=0;count<CourseList.length;count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-2"><%= CourseList[count].name %></td>
                <td class="text-center col-2"><%= CourseList[count].prof %></td>
                <td class="text-center col-1"><%= CourseList[count].start %></td>
                <td class="text-center col-4"><%= CourseList[count].end %></td>
                <td class="text-center col-1"><%= CourseList[count].grade %></td>

                <td class="text-center col-1">
                    <a href="/courselist/edit/<%= CourseList[count]._id %>" 
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/courselist/delete/<%= CourseList[count]._id %>" 
                        class="btn btn-danger btn-sm">
                        <i class="fas trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    </div>
</main>
           
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

    

